@font-face {
    font-family: 'main';
    src: url('./src/fonts/Teko-Bold.ttf');
}
* {
    text-decoration: none !important;
    color: white !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 1.1em;
    text-shadow: white 0px 0px 1px !important;
    font-weight: bold !important;
}

a {
    padding-left: 1vw;
}

body {
  background-color: #212121 !important;
  overflow-x: hidden;
}

/* Navbar Styling */
#navBar {
    background-color: #282C2F;
    border-bottom: 1px solid #e8443c;
    height: 6vh;
}



#navBox {
    position: absolute;
    text-align: center;
    width:20%;
    height: 9vh; 
    margin-left:14.6vw;
    margin-top:-3.4vh;
    background-color: #e8443c;
    border: 2px solid black;
    border-radius: 6px;
    z-index: 9999;
}

#mainLogo {
    margin-top: -1.2vh;
    margin-left: -4vw;
    position: absolute;
    height: auto;
    max-width: 50px;
}

#mainCenterLogo {
    height: auto;
    max-width: 130px;
    margin-top: -3.2vh;
}

#navBar #titleDiv{
    text-align: center;
}

#navBar #regDiv {
    text-align: left;
}

#navBar #regLinks {
    position:relative;
    z-index: 999;
    right: 0;
    top: 0;
}

/* Banner Styling */

#banner_container {
    position: relative;
    text-align: center;
}

#banner_container p, h1 {
    position:absolute;
    left: 0;
    right: 0;
    top:22vh;
    font-weight: bold;
}

#banner_container h1 {
    text-decoration: underline !important;
    text-underline-offset: 9px;
}

#banner_container p {
    margin-top:10vh;
}

#banner_container button {
    width: 10vw !important;
    height: 6vh;
    left:44.2vw;
    right:0;
    margin-top: 22vh;
    border: 2px solid #e8443c
}

#bannerBtn {
    position: absolute;
    margin-top:45vh !important;
}

/* Styling second banner - below main banner */

#secondBanner {
    margin-top:-10vh;
    height:100vh;
    width:100%;
    background-color: #282C2F;
    z-index: 9999;
    border-bottom: 10px solid #e8443c;
    padding-right: 15vw;
    padding-left: 15vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#box-1, #box-2, #box-3 {
    width: 20vw;
    height: 50vh;
    background-color: #212121;
    margin-top: 27vh;
    border: 2px solid #e8443c;
    border-radius: 12px;
    text-align: center;
    opacity: 0.7;
}

#box-1 {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('./src/images/archer-img.avif');
}

#box-2 {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('./src/images/monster-img.jpg');
}

#box-3 {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('./src/images/dice-img.jpg');
}

#box-1 p, #box-2 p, #box-3 p {
    margin-left:2.5vw;
    width: 15vw;
}

.box-heading {
    margin-left: 1.5vw;
    margin-top: 1vh;
    width: 17vw;
    text-align: center;
    border-bottom: 2px solid white;
}

.boxImg {
    width:25%;
    height: auto;
    margin-top:7vh;
}

#box-1:hover, #box-2:hover, #box-3:hover {
    color: blue;
    box-shadow: 0 0 15px gold;
}

/* Styling bottom of home page */
#createAccount {
    text-align: center;
    position: absolute;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('./src/images/banner-3.jpg');
    opacity: 10px;
    width: 70vw;
    height: 40vh;
    margin-left: 14.5vw;
    margin-top: 35vh;
    border: 2px solid #e8443c;
}

#createAccount p, h2 {
    color: white !important;
    font-weight: 600;
}

#bottomLogo {
    position:absolute;
    float:left;
    width: 6vw;
    height: auto;
    margin-left: -31vw;
}

#loginDiv {
    display: none;
    background-color:#282C2F;
    height:30vh;
    width:10vw;
    font-size: 0.5em;
    margin-top:4vh;
    position: absolute !important;
    z-index: 9999;
}

#loginDiv input {
    float:right;
    margin-right:1.5vw;
    margin-top:1vh;
}

#loginDiv label {
    margin-top:1vh;
    float:left;
    margin-left:0.7vw;
}

#loginDiv button {
    margin-top:3vh;
    margin-left: 0.6vw;
}













































.fogwrapper {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
    filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  }
  #foglayer_01, #foglayer_02, #foglayer_03 {
    height: 100%;
    position: absolute;
    width: 200%;
  }
  #foglayer_01 .image01, #foglayer_01 .image02,
  #foglayer_02 .image01, #foglayer_02 .image02,
  #foglayer_03 .image01, #foglayer_03 .image02 {
    float: left;
    height: 100%;
    width: 50%;
  }
  #foglayer_01 {
    -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
    -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
    animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  }
  #foglayer_02, #foglayer_03 {
    -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
    -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
    animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  }
  
  /* ---------- Moving Fog ---------- */
  /*
    'size: cover' || 'size: 100%'; results remain the same
    'attachment: scroll' can be added or removed; results remain the same
    'attachment: fixed' causing unexpected results in Chrome
    'repeat-x' || 'no-repeat'; results remain the same
  */ 
  #foglayer_01 .image01, #foglayer_01 .image02 {
    background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
  }
  #foglayer_02 .image01, #foglayer_02 .image02,
  #foglayer_03 .image01, #foglayer_03 .image02{
    background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
  }
  
  /* ---------- Keyframe Layer 1 ---------- */
  @-webkit-keyframes foglayer_01_opacity {
    0% { opacity: .1; }
    22% { opacity: .5; }
    40% { opacity: .28; }
    58% { opacity: .4; }
    80% { opacity: .16; }
    100% { opacity: .1; }
  }
  @-moz-keyframes foglayer_01_opacity {
    0% { opacity: .1; }
    22% { opacity: .5; }
    40% { opacity: .28; }
    58% { opacity: .4; }
    80% { opacity: .16; }
    100% { opacity: .1; }
  }
  @-o-keyframes foglayer_01_opacity {
    0% { opacity: .1; }
    22% { opacity: .5; }
    40% { opacity: .28; }
    58% { opacity: .4; }
    80% { opacity: .16; }
    100% { opacity: .1; }
  }
  @keyframes foglayer_01_opacity {
    0% { opacity: .1; }
    22% { opacity: .5; }
    40% { opacity: .28; }
    58% { opacity: .4; }
    80% { opacity: .16; }
    100% { opacity: .1; }
  }
  /* ---------- Keyframe Layer 2 ---------- */
  @-webkit-keyframes foglayer_02_opacity {
    0% { opacity: .5; }
    25% { opacity: .2; }
    50% { opacity: .1; }
    80% { opacity: .3; }
    100% { opacity: .5; }
  }
  @-moz-keyframes foglayer_02_opacity {
    0% { opacity: .5; }
    25% { opacity: .2; }
    50% { opacity: .1; }
    80% { opacity: .3; }
    100% { opacity: .5; }
  }
  @-o-keyframes foglayer_02_opacity {
    0% { opacity: .5; }
    25% { opacity: .2; }
    50% { opacity: .1; }
    80% { opacity: .3; }
    100% { opacity: .5; }
  }
  @keyframes foglayer_02_opacity {
    0% { opacity: .5; }
    25% { opacity: .2; }
    50% { opacity: .1; }
    80% { opacity: .3; }
    100% { opacity: .5; }
  }
  /* ---------- Keyframe Layer 3 ---------- */
  @-webkit-keyframes foglayer_03_opacity {
    0% { opacity: .8 }
    27% { opacity: .2; }
    52% { opacity: .6; }
    68% { opacity: .3; }
    100% { opacity: .8; }
  }
  @-moz-keyframes foglayer_03_opacity {
    0% { opacity: .8 }
    27% { opacity: .2; }
    52% { opacity: .6; }
    68% { opacity: .3; }
    100% { opacity: .8; }
  }
  @-o-keyframes foglayer_03_opacity {
    0% { opacity: .8 }
    27% { opacity: .2; }
    52% { opacity: .6; }
    68% { opacity: .3; }
    100% { opacity: .8; }
  }
  @keyframes foglayer_03_opacity {
    0% { opacity: .8; }
    27% { opacity: .2; }
    52% { opacity: .6; }
    68% { opacity: .3; }
    100% { opacity: .8; }
  }
  /* ---------- Keyframe moveMe ---------- */
  @-webkit-keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
  @-moz-keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
  @-o-keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
  @keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
  
  @media only screen
    and (min-width: 280px)
    and (max-width: 767px) {
      #foglayer_01 .image01, #foglayer_01 .image02,
      #foglayer_02 .image01, #foglayer_02 .image02,
      #foglayer_03 .image01, #foglayer_03 .image02 {
        width: 100%;
      }
    }


